<!-- <p>login works!</p> -->
<div class="container">
    <h2>Login Page</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email" >
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModel)]="password" >
      </div>

      <p class="text-danger" *ngIf="isWrong"> Please Enter coorect password </p>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default" (click)="submit()">Submit</button>
    </form>
  </div>
  

  {{email}}<br>

  {{password}}